attrs
blinker
certifi
charset-normalizer
click
click-plugins
cligj
Fiona
Flask
Flask-Cors
geopandas
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
pyproj
python-dateutil
pytz
requests
shapely
six
tzdata
urllib3
Werkzeug
