{% extends "base.html"%} {% block content %}

  <main >
    <h2>Join Data Response</h2> 
    <h3>Example of a join data response</h3>

    <div class="form">
      <form id="join-form">
        <div class="input-group mb-3">
          <input
            type="url"
            id="apiurl"
            name="apiurl"
            class="form-control"
            placeholder="Enter URL e.g (https://example.tjs/api)"
            size="30"
            required
            value="https://web-tjsenv.up.railway.app/tjs/api/joindata?"
          />
        </div>

        <div class="input-group mb-3">
          <input
            type="url"
            id="frameworkurl"
            name="frameworkurl"
            class="form-control"
            placeholder="Enter URL e.g (https://example.geojson)"
            required
            size="100"
            value="https://raw.githubusercontent.com/PublicaMundi/MappingAPI/master/data/geojson/us-states.json"
          />
        </div>

        <div class="input-group mb-3">
          <input
            type="url"
            class="form-control"
            id="attributeurl"
            name="attributeurl"
            placeholder="Enter URL e.g (https://example.csv)"
            required
            value="https://web-tjsenv.up.railway.app/static/covid_data.csv"
          />
        </div>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="frameworkkey"
            name="frameworkkey"
            placeholder="Enter Framework Key"
            value="name"
          />
        </div>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="attributekey"
            name="attributekey"
            placeholder="Enter Attribute Key"
            value="state"
          />
        </div>
        <div class="submit-button">
          <input type="submit" class="btn" value="Generate Joined Data URL" />
        </div>
      </form>
      <div id="results"></div>
    </div>
  </main>
</div>

{% endblock %}
